@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import "./variables.scss";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.big-title {
    font-size: 32px;
    font-weight: 700;
}

.title {
    color: $azul;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.big-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.little-text {
    font-size: 12px;
    margin-top: 1rem;

    .link {
        color: $azul;
        font-size: 12px;
        text-decoration: none;
        
        &:hover {
            color: $azul-escuro;
        }
    }
}

.link {
    color: $azul;
    text-decoration: none;

        &:hover {
            color: $azul-escuro;
        }
}