// Principal
$branco: #FFF;

$cinza: #999;
$cinca-claro: #EEE;

$preto: #000;

$azul-escuro: #003379;
$azul: #004AAD;
$azul-claro: #336EBD;

// Gráfico
$azul-royal: #309ACD;

$ciano-escuro: #086F6F;
$ciano: #09BCB6;

// Status
$verde-escuro: #1C5B25;
$verde-claro: #D7EFDA;

$vermelho-escuro: #7B0F13;
$vermelho-claro: #FBD2D3;